streamlit
Pillow
numpy
opencv-python-headless
pytesseract
# tesseract-ocr
# click==8.1.3
# tesseract-ocr-eng
# tesseract-ocr-deu
# tesseract-ocr-fra
# tesseract-ocr-spa
# tesseract-ocr-por
# tesseract-ocr-ita
# tesseract-ocr-ces
# tesseract-ocr-pol
# tesseract-ocr-nor
# tesseract-ocr-swe
# tesseract-ocr-dan
# tesseract-ocr-ron
# tesseract-ocr-tur
# tesseract-ocr-hun
# tesseract-ocr-rus